.node {
    background-color: red;
}

.flying-component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  opacity: 0; /* Initially hidden */
  transition: transform 2s ease-in-out, opacity 2s ease-in-out; /* Transition for position and opacity */
}

.flying-component.visible {
    opacity: 1; /* Make visible when class is added */
}

@keyframes fly-across {
    0% {
        transform: translateX(-100%);
    }
    95% {
        transform: translateX(100vw);
    }
    96% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.fly-animation {
    position: absolute;
    top: 0; /* Adjust as needed */
    left: 500px;
    /* animation: fly-across 15s linear infinite; */
    white-space: nowrap; /* Prevent wrapping */
}

img.node {
    width: 30vh;
    height: 30vh;
}

div.node {
    display: block;
}

div.pod {
    background-color: blue;
    /* position: relative; */
}

div.pod > img {
    width: 5vh;
    height: 5vh;
}

div.pod > span {
    position: relative;
    top: 10px;
    left: -150px;
}