div.node {
    /* background-color: rgba(255, 0, 0, 0.5); */
    text-align: center;
}

div.pod {
    /* background-color: rgba(0, 0, 255, 0.5); */
    position: absolute;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

img.pod {
    width: 10vh;
    height: 10vh;
}

img.node {
    width: 30vh;
    height: 30vh;
}

h1, .label {
    color: white;
    text-shadow: 1px 1px black;
}

.label {
    font-size: 10px;
}

.watermark {
    margin: 2em;
}

h1 {
    float: left;
}

.icon {
    width: 2em;
    height: 2em;
    float: right;
    margin: 0.5em;
}

img:hover {
    opacity: 50%;
}

.show-ui {
    width: 3em;
    height: 3em;
    margin: 1.5em;
}
